.circleci/
.vscode/
coverage/
scripts/
src/

.eslintignore
.eslintrc.json
.releaserc.json
commitlint.config.js
jest.config.json
package-lock.json
Tasks.todo
ts-jest.tsconfig.json
tsconfig.json
tslint.json

cc-test-reporter
